* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}

nav {
  width: max-content;
  height: 5vh;
  border: 1px solid #ccc;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
  border-radius: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

nav li a {
  text-decoration: none;
  color: black;
  /* or whatever fits your theme */
  font-weight: bold;
  font-size: 2vh;
  padding: 3px 10px;
  border-radius: 50px;
}

nav li a:hover,
nav li a.active {
  text-decoration: underline;
  color: white;
  background-color: blue;
}

main {
  width: 55%;
  height: auto;
  margin: 0 auto;
  display: block;
}

section {
  margin: 100px 0;
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#blinking {
  animation: blink 1s infinite;
}

.icons-container img {
  width: 35px;
  height: 35px;
  background: red;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
.footer-contents {
  width: 70%;
  display: flex;
  flex-direction: row;
}

.fw-content {
  display: flex;
  align-items: baseline;
  border: 1px black solid;
  margin: 10px auto;
  padding: 10px;
}

.fw-content-subtitle h1,
.fw-content-subtitle h2,
.fw-content-subtitle h3,
.fw-content-subtitle p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.fg-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.fg-card {
  display: block;
  border: 1px black solid;

  text-decoration: none;
  color: inherit;
}

.fg-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: red;
  display: block;
}

.fg-content-info {
  padding: 10px;
}

.fg-content-title {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 540px) {
  main {
    width: 90%;
  }
  footer {
    width: 90%;
  }
  section {
    margin: 50px 0;
  }

  #logo {
    width: 70px;
    height: 70px;
  }

  header {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding: 20px 10px;
  }

  nav ul {
    gap: 0.5rem;
  }

  nav li a {
    font-size: 1.75vh;
  }

  .footer-contents {
    width: 90%;
    flex-direction: column;
  }
  .fg-grid {
    grid-template-columns: 1fr;
  }

  .fg-card {
    width: 100%;
  }

  .fg-card img {
    width: 100%;
  }
}
